body {
   background-color: #ffefd5;
 }

 .singupdone {
   /*フォントサイズ変更*/
   font-size: 20px;
   color: #ff6b6b;
   display: flex;
   height: 90vh;
   justify-content: center;
   align-items: center;
   /*要素を縦にする*/
   flex-flow: column;
 }

 .singupdonebutton {
   width: 200px;
   padding: 20px;
   background-color: #ff69b4;
   border: none;
   border-radius: 25px;
   color: #fff;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }
 form {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
 }
 
 .signup_button {
     width: 200px;
     padding: 10px;
     background-color: #ff69b4;
     border: none;
     border-radius: 25px;
     color: #fff;
     font-size: 16px;
     font-weight: bold;
     cursor: pointer;
     transition: background-color 0.3s ease;
   }

   .login-form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-group {
    background-color: #fff;
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  label {
    color: #ff69b4;
  }

 input{
    width: 100%;
    padding: 10px ;
    border: 2px solid #ffc0cb;
    border-radius: 25px;
    font-size: 16px;
  }

  input:focus {
    outline: none;
    border-color: #ff69b4;
    box-shadow: 0 0 5px rgba(255, 192, 203, 0.5);
  }

  .login-button {
    width: 200px;
    padding: 10px;
    background-color: #ff69b4;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .signup-button {
    width: 200px;
    padding: 10px;
    background-color: #ff69b4;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #ff1493;
  }

  .labelandform {
    div {
      padding: 2px;
      margin-bottom: 20px;
    }
    
    label{
      display: inline-block;
      width: 300px;
      text-align: center;
    }
    label[for="id_consideration"] {
      vertical-align: top;
    }
    label[for="id_is_guardian"] {
      position: relative;
      left: 20px;
    }
    input{
      width: 300px;
    }
    input[type=checkbox] {
      /* display: inline; */
      width: 20px;
      transform: scale(1.5);
    }
    textarea{
      border: 2px solid #ffc0cb; /*ボーダーラインの色*/
      border-radius: 25px; /*ボーダーラインの丸み*/
      outline: none;
      padding: 10px;
    }
    #id_gender{
      display: flex;
    }
  }
