/*画面タイトルを中央に配置する*/
.list-name {
    text-align: center;
}

.Genre-search {
    padding-top: 15px;
    width: fit-content;
    margin: auto;
}

#category {
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

.genre-refine {
    background-color: #ff69b4;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

/*1つのサークルずつ表示する所にcssを指定する*/
.list-container {
    background-color: #ffe4e1;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 100px 120px;
    display: flex;
}

/*画像以外のサークル情報の範囲を指定*/
.list-content {
    width: 100%;
}

/*ジャンル*/
.list-genre {
    text-align: right;
    font-size: large;
    margin: 0px 0px 7px;
}

/*サークル名*/
.list-title {
    color: #ff69b4;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}
/*サークル名にカーソルを合わせると色が変化する*/
.list-title:hover {
    color: #ff1493;
}

/*掲載日・団体名*/
.list-infomation {
    text-align: center;
    margin-top:  60px;
}

/*スマホ用のcss*/
@media screen and (max-width: 767px) {
    .list-container {
        margin: 20px 10px; /* スマホ画面では余白を少なく */
        padding: 20px; 
        flex-direction: column; /* 縦並びに変更 */
        align-items: center; /* 水平方向中央揃え (オプション) */
    }

    /* 画像のサイズを調整 */
    img {
        width: 100%;
        height: auto;
        object-fit: cover; /* アスペクト比を維持 */
        border-radius: 10px; /* 画像の角を丸める */
    }

    /* サークル名と情報を縦に並べる */
    .list-content {
        text-align: left; /*テキストを左揃え*/
    }

    /* サークル名のフォントサイズを小さく */
    .list-title {
        font-size: 24px;
    }

    /* 掲載日・団体名のマージンを調整*/
    .list-infomation {
        margin-top: 20px;
    }

    /*ジャンルを調整*/
    .list-genre {
        font-size: medium;
    }
}

.ListNone {
    text-align: center;
}