/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 17%;
  z-index: 100;
  cursor: pointer;
  margin-left: 95%;
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.2s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
 
/* メニューのデザイン*/
.nav_content {
  width:  35%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 99;
  background: #ffc0cb;
  transition: 0s;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
  text-align: left;
  margin-top: 60px;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  left: 65%;/* メニューを画面に入れる */
}


/*ログイン・ユーザー登録ボタンを右寄せする*/
.account-button {
  text-align: right;
}

/*ボタンにカーソルを乗せると色が変化する*/
button:hover {
  background-color: #ff1493;
}

/*ログイン・ユーザー登録ボタンの形や色等を指定する*/
.login-signup-button {
  width: 200px;
  padding: 10px;
  background-color: #ff69b4;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*フリースクール情報について指定する*/
.footer {
  background-color: #ffefd5; /*フッター全体の色*/
  .footer-main {
      max-width: 1080px;
      padding: 20px 24px; /*上のコンテンツとフッターの隙間を作る記述*/
      align-items: center;
      display: flex; /*一つの項目ごとにブロックを作る*/
      flex-direction: column;
 
      h2.footer-logo {
          align-self: flex-start;
          a {
              color: black; /*ロゴに色を付ける*/
              font-size: 32px; /*文字の大きさ*/
              font-weight: 600; /*文字の太さ pxいらない*/
              margin: 0;
          }
      }
      nav {
          ul {
              display: flex;
              list-style: none; /*メニューの点をなくす*/
              li {
                  a {
                      padding: 1em;
                      color: #0e0000;
                      font-size: 15px;
                      font-weight: 600;
                  }
              }
          }
      }
      .footer-icon {
          width: 100%;
          display: flex;
          justify-content: center; /*アイコンを中央寄せにする*/
      }
      .footer-sns {
          display: flex;
          margin-top: 10px;
          list-style: none;
          gap: 20px; /*アイコン間に隙間を作る*/
      }
  }
}

/*メッセージの見た目*/
.messagetext {
  font-size: 35px;/*フォントサイズ*/
  font-weight: bold;/*フォントを太字にする*/
  color: #ff6b6b;/*フォントに色を指定*/
  height: 200px;/*要素の高さ*/

  /*中央寄せにする*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.cssbutton {
  border: solid 2px #000;
  padding: 2px 5px;
  text-decoration:none;
  color: #000;
  background-color: #f0f0f0; 
}

.cssbutton:hover {
  background-color: #ff1493;
}