{% extends 'student_base_anyone.html' %}
{% load static %}
{% block title %}イベント体験申請画面{% endblock %}
{% block css %}<link href="{% static 'css/student_request.css' %}" rel="stylesheet"/>{% endblock %}
{% block contents %}

<div class="request-info">
    <p class="request-accounts">
        ※ログイン中のユーザーの情報、ここで入力した内容がイベント管理者に送信されます<br>
        事前に聞いておきたいこと、不安な内容があればこちらに記入してください。<br>
        (例) 送迎の有無、持ち物、服装、食事の有無、参加費用、その他<br>
        何もなければ「特になし」と記入してください。
    </p>
    <!--メールを送信するフォーム-->
    <form method="POST" id="requestForm">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{field.label }}
            {{ field }}
        </p>
        {% endfor %}
    
        <button type="submit" class="request-button" id="submitButton">イベント管理者にメールを送る</button>
    </form>

    <!--2重submitを防止する処理-->
    <script>
        const form = document.getElementById("requestForm");
        const submitButton = document.getElementById("submitButton");

        form.addEventListener("submit", function(event){
            submitButton.disabled = true;//ボタンを無効化
        });
    </script>

</div>

{% endblock %}