{% extends 'student_base_anyone.html' %}
{% load static %}
{% block title %}{{ user.student.nickname }}さんの情報{% endblock %}
{% block contents %}
    <table>
        <tbody>
            <tr>
                <th>ログインID</th>
                <td>{{ user.login_id }}</td>
            </tr>

            <tr>
                <th>メールアドレス</th>
                <td>{{ user.email }}</td>
            </tr>

            <!--異常フロー確認必須（確認次第コメント削除）-->
            <tr>
                <th>電話番号</th> 

                            {% if user.phone_number %}
                            {% with user.phone_number|slice:":3" as prefix %}
                                {% if prefix == '+81' %}
                                    <td>0{{ user.phone_number|slice:3 }}</td>
                                {% else %}
                                    <td>{{ user.phone_number }}</td>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            <th>電話番号未設定</th>
                        {% endif %}
            </tr>

            <tr>
                <th>ニックネーム</th>
                <td>{{ user.student.nickname }}</td>
            </tr>

            <!--誕生日の表示にdateフィルターを使用している-->
            <tr>
                <th>誕生日</th>
                <td>{{ user.student.date_of_birth|date:"Y年m月d日" }}</td>
            </tr>

            <tr>
                <th>入学年度</th>
                <td>{{ user.student.ent_year }}</tr>
            </tr>

            <!--異常フロー確認必須（確認次第コメント削除）-->
            <tr>
            <th>性別</th>
                
                <td>
                    {% if user.student.gender == 'male' %}
                        男性
                    {% elif user.student.gender == 'female' %}
                        女性
                    {% else %}
                        その他
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>配慮事項(フリースクールにお伝えしたいこと)</th>
                <td>{{ user.student.consideration }}</td>
            </tr>

        </tbody>
    </table>

    
    <!--いいねしたサークル記事-->
    <h2>いいねしたサークル記事</h2>
    {% for likeforclub in likeforclubs %}
        <!--外部キーであるtargetで関連テーブルのデータを取得できる-->
        <p><a href="{% url 'studentapp:clubdetail' likeforclub.target.id %}">{{ likeforclub.target.club_name }}</a></p>
    {% empty %}
    <p>いいねしたサークルはありません</p>
    {% endfor %}


    <!--いいねしたブログ記事-->
    <h2>いいねしたブログ記事</h2>
    <br>
    {% for likeforblogpost in likeforblogposts %}
        <!--外部キーであるtargetで関連テーブルのデータを取得できる-->
        <p><a href="{% url 'studentapp:blogdetail' likeforblogpost.target.id %}">{{ likeforblogpost.target.title }}</a></p>
    {% empty %}
    <p>いいねしたブログ記事はありません</p>
    {% endfor %}


    <!--いいねしたイベント記事-->
    <h2>いいねしたイベント記事</h2>
    <br>
    {% for likeforevent in likeforevents %}
        <!--外部キーであるtargetで関連テーブルのデータを取得できる-->
        <p><a href="{% url 'studentapp:eventdetail' likeforevent.target.id %}">{{ likeforevent.target.event_name }}</a></p>
    {% empty %}
    <p>いいねしたイベントはありません</p>
    {% endfor %}


    <h2>アカウント</h2>
    <p><a href="{% url 'studentapp:mypageupdate' %}">アカウント情報を編集する</a></p>
    <p><a href="{% url 'studentapp:mypagedeletecheck' %}">アカウントを削除する</a></p>

{% endblock %}