{% load static %}
{% block title %}{{ object.event_name }}{% endblock %}
{% block contents %}
    {{ object.id }}
    <a>{{ object.event_name }}</a>
    <img src="{{ object.image1.url }}">
    {% if object.image2 %}
        <p><img src="{{ object.image2.url }}"></p>
    {% endif %}
    {% if object.image3 %}
        <p><img src="{{ object.image3.url }}"></p>
    {% endif %}
    {% if object.image4 %}
        <p><img src="{{ object.image4.url }}"></p>
    {% endif %}
    {% if object.image5 %}
        <p><img src="{{ object.image5.url }}"></p>
    {% endif %}

<p>{{ object.category }}<p>    
<p>{{ object.created_at }}<p>
<p>{{ object.detail_text }}</p>

<a href="{% url 'studentapp:eventrequest' event_id=object.pk %}">参加申し込み</a>

{% endblock %}