{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">

    <!--ブラウザの表示領域を設定-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>
    <!--bootstrap5.3のリンク-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <!--共通部分のcss-->
    <link href="{% static 'css/student.css' %}"  rel="stylesheet" />
    <!--継承先で追加でcssファイルを使用するときに使う-->
    {% block css %}{% endblock %}
</head>

<body>
    <!--タイトル-->
    <nav class="navbar navbar-expand-lg" style="background-color: #ffefd5;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'studentapp:top' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
              <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
              <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
            </svg>
            ふらっとすぽっと
          </a>
        </div>
    </nav>
      
    <!--ハンバーガーメニュー-->
    <div class="nav">
      <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
      <input id="drawer_input" class="drawer_hidden" type="checkbox">
   
      <!-- ハンバーガーアイコン -->
      <label for="drawer_input" class="drawer_open"><span></span></label>
   
      <!-- メニュー -->
      <nav class="nav_content">
        <ul class="nav_list">
          <li class="nav_item"><a href="{% url 'studentapp:clublist' %}" style="text-decoration:none;">サークル</a></li>
          <li class="nav_item"><a href="{% url 'studentapp:eventlist' %}" style="text-decoration:none;">イベント</a></li>
          <li class="nav_item"><a href="{% url 'studentapp:bloglist' %}" style="text-decoration:none;">ブログ</a></li>
          <li class="nav_item"><a href="{% url 'studentapp:contact' %}" style="text-decoration:none;">お問い合わせ</a></li>
        </ul>
      </nav>
    </div>

    <!--アカウント-->
    <!--ログインされている場合-->
    {% if user.is_authenticated %}
        <!--利用者が不登校生徒の場合のみ表示-->
        {% if user.user_type == 'student' %}
        <div class="dropdown">
          <div class="account-button">
            <button class="login-signup-button dropdown-toggle" type="button" data-bs-toggle="dropdown">
                {{ user.student.nickname }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'studentapp:mypage' %}">アカウント情報</a></li>
              <li><a class="dropdown-item" href="{% url 'accounts:logout' %}">ログアウト</a></li>
            </ul>          
          </div>
        </div>
        {% endif %}
    {% else %}
      <div class="account-button">
        <a href="{% url 'accounts:login' %}">
            <button class="login-signup-button">
              ログイン/ユーザー登録
            </button>
        </a>
      </div>
    {% endif %}
    
    <!--各画面でデータベース更新があった場合、meesagesを表示する-->
    {% if messages %}
    {% for message in messages %}
      <p class="messages">{{ message }}</p>
    {% endfor %}
    {% endif %}


    <!--各画面でヘッダーの設定をする-->
    {% block header %}{% endblock %}

    <!--各画面でコンテンツの設定をする-->
    {% block contents %}{% endblock %}
    
    <a href="#top" id="topbutton"><button>一番上に戻る</button></a>

    <!--フリースクール情報等-->
    <footer class="footer">
      <div class="footer-main">
          <h2 class="footer-logo">
              <a href="{% url 'studentapp:top' %}" style="text-decoration:none;">ふらっとすぽっと</a>
          </h2>
          <nav>
              <ul class="footer-menu">
                  <li><a href="{% url 'studentapp:clublist' %}">サークル</a></li>
                  <li><a href="{% url 'studentapp:eventlist' %}">イベント</a></li>
                  <li><a href="{% url 'studentapp:bloglist' %}">ブログ</a></li>
                  <li><a href="{% url 'studentapp:contact' %}">お問い合わせ</a></li>
              </ul>
          </nav>
      </div>
    </footer>
</body>
</html>