{% extends 'student_base_anyone.html' %}
{% load static %}
{% block title %}アカウント情報を変更する{% endblock %}
{% block contents %}
    <form method="post" id="requestForm">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ student_form.as_p}}
    <button type="submit" id="submitButton">変更する</button>
    </form>

    <!--2重submitを防止する処理-->
    <script>
        const form = document.getElementById("requestForm");
        const submitButton = document.getElementById("submitButton");

        form.addEventListener("submit", function(event){
            submitButton.disabled = true;//ボタンを無効化
        });
    </script>

{% endblock %}