{% extends 'student_base_anyone.html' %}
{% load static %}
{% block title %}生徒/保護者トップページ{% endblock %}
{% block css %}<link href="{% static 'css/student_top.css' %}" rel="stylesheet"/>{% endblock %}
{% block contents %}

<div class="TopA">
    <!--タイトル-->
    <h1 class="TopTitle">'ふらっとすぽっと'へようこそ！</h1>
    <p>「ふらっとすぽっと」は、山形県内のフリースクールと山形県在住の不登校生徒を支援することを目的としたサイトです。</p>
    <p>「好きなこと」や「興味のあること」をテーマに、学校外での新しい繋がりを広げていける場所を提供しています。</p>
    <p>「サークル」や「イベント」への気軽な参加をお待ちしています！</p>
</div>

<!--各ページのリンク-->
<div class="TopLink">
    <ul>
        <li>
            <a href="{% url 'studentapp:clublist' %}" 
            id="ChoiceLink" style="text-decoration:none;">
                サークルを見る
            </a>
        </li>
        <li>
            <a href="{% url 'studentapp:eventlist' %}" 
            id="ChoiceLink" style="text-decoration:none;">
                イベントを見る
            </a>
        </li>
        <li>
            <a href="{% url 'studentapp:bloglist' %}" 
            id="ChoiceLink" style="text-decoration:none;">
                ブログを見る
            </a>
        </li>
    </ul>
</div>
{% endblock %}