{% extends 'student_base_anyone.html' %}
{% load static %}
{% block title %}お問い合わせ{% endblock %}
{% block css %}<link href="{% static 'css/student_request.css' %}" rel="stylesheet"/>{% endblock %}
{% block contents %}

<div class="request-info">
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}
            {{ field }}
        </p>
        {% endfor %}
        
        <button type="submit" class="request-button" id="submitButton">送信する</button>
    </form>

    <script>
        document.getElementById("submitButton").addEventListener("click", function() {
            document.getElementById("submitButton").disabled = true;
        });
    </script>

</div>
{% endblock %}