{% extends 'student_base_anyone.html' %}
{% load static %}
{% block title %}{{ user.student.nickname }}さんの情報{% endblock %}
{% block contents %}
    <p>ログインID{{ user.login_id }}</p>
    <p>メールアドレス{{ user.email }}</p>
    <p>電話番号{{ user.phone_number }}</p>

    <p>ニックネーム{{ user.student.nickname }}</p>
    <!--誕生日の表示にdateフィルターを使用している-->
    <p>誕生日: {{ user.student.date_of_birth|date:"Y年m月d日" }}</p>
    <p>入学年度{{ user.student.ent_year }}</p>
    <p>性別{{ user.student.gender }}</p>
    <p>配慮事項(フリースクールにお伝えしたいこと){{ user.student.consideration }}</p>

    <!--いいねしたブログ記事-->
    <p>いいねしたブログ記事</p>
    {% for likeforblogpost in likeforblogposts %}
        <!--外部キーであるtargetで関連テーブルのデータを取得できる-->
        <p><a href="{% url 'studentapp:blogdetail' likeforblogpost.target.id %}">{{ likeforblogpost.target.title }}</a></p>
    {% empty %}
    <p>いいねしたブログ記事はありません</p>
    {% endfor %}
    
    <!--いいねしたサークル記事-->
    <p>いいねしたサークル記事</p>
    {% for likeforclub in likeforclubs %}
        <!--外部キーであるtargetで関連テーブルのデータを取得できる-->
        <p><a href="{% url 'studentapp:clubdetail' likeforclub.target.id %}">{{ likeforclub.target.club_name }}</a></p>
    {% empty %}
    <p>いいねしたサークルはありません</p>
    {% endfor %}

    <!--いいねしたイベント記事-->
    <p>いいねしたイベント記事</p>
    {% for likeforevent in likeforevents %}
    <!--外部キーであるtargetで関連テーブルのデータを取得できる-->
    <p><a href="{% url 'studentapp:eventdetail' likeforevent.target.id %}">{{ likeforevent.target.event_name }}</a></p>
    {% empty %}
    <p>いいねしたイベントはありません</p>
    {% endfor %}
    
    <p><a href="{% url 'studentapp:mypageupdate' %}">アカウント情報を編集する</a></p>
    <p><a href="{% url 'studentapp:mypagedeletecheck' %}">アカウントを削除する</a></p>
{% endblock %}