{% extends 'student_base_anyone.html' %}
{% load static %}
{% block title %}サークル体験申請画面{% endblock %}
{% block css %}<link href="{% static 'css/student_request.css' %}" rel="stylesheet"/>{% endblock %}
{% block contents %}

<div class="request-info">
    <p class="request-accounts">※ログイン中のユーザーの情報、ここで入力した内容がクラブ管理者に送信されます</p>
    <!--メールを送信するフォーム-->
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{field.label }}
            {{ field }}
        </p>
        {% endfor %}
    
        <button type="submit" class="request-button" id="submitButton">クラブ申請者にメールを送る</button>
    </form>

    <script>
        document.getElementById("submitButton").addEventListener("submit", function() {
            document.getElementById("submitButton").disabled = true;
        });
    </script>
    

</div> 

{% endblock %}