{% extends 'student_base_anyone.html' %}
{% load static %}
{% block title %}イベント参加申請送信完了画面{% endblock %}
{% block css %}<link href="{% static 'css/student_requestdone.css' %}" rel="stylesheet"/>{% endblock %}
{% block contents %}
<p class="doneText">
    送信が完了しました
</p>
<div class="requestDone">
    <a href="{% url 'studentapp:eventlist' %}">
        <button class="donepage-btn">
            イベント一覧に戻る
        </button>
    </a>
    <a href="{% url 'studentapp:top' %}">
        <button class="donepage-btn">
            トップページに戻る
        </button>
    </a>
</div>
{% endblock %}