{% extends 'student_base_anyone.html' %}
{% load static %}
{% block title %}{{ object.event_name }}{% endblock %}
{% block css %}<link href="{% static 'css/student_detail.css' %}" rel="stylesheet"/>{% endblock %}
{% block contents %}

<!--一覧画面へ戻るリンク-->
<a href="{% url 'studentapp:eventlist' %}" id="Link-Back">
    イベント一覧へ
</a>

    <!--イベント名を表示-->
    <div>
        <p class="detail-name">{{ object.event_name }}</p>
    </div>
    
    <div class="carouselRange">
        <!--カルーセル-->
        <div id="carouselClubDetail" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <!--ページを開いて1枚目に表示する画像-->
                <div class="carousel-item active">
                    <img src="{{ object.image1.url }}" class="carouselImg" alt="写真1">
                </div>
                <!--もし2枚目がある場合、画像を表示する-->
                {% if object.image2 %}
                <div class="carousel-item">
                    <img src="{{ object.image2.url }}" class="carouselImg" alt="写真2">
                </div>
                {% endif %}
                <!--もし3枚目がある場合、画像を表示する-->
                {% if object.image3 %}
                <div class="carousel-item">
                    <img src="{{ object.image3.url }}" class="carouselImg" alt="写真3">
                </div>
                {% endif %}
                <!--もし4枚目がある場合、画像を表示する-->
                {% if object.image4 %}
                <div class="carousel-item">
                    <img src="{{ object.image4.url }}" class="carouselImg" alt="写真4">
                </div>
                {% endif %}
                <!--もし5枚目がある場合、画像を表示する-->
                {% if object.image5 %}
                <div class="carousel-item">
                    <img src="{{ object.image5.url }}" class="carouselImg" alt="写真5">
                </div>
                {% endif %}
            </div>

            <!--左側(前の画像へ戻る)カルーセルボタン-->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselClubDetail" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <!--右側(次の画像へ進む)カルーセルボタン-->
            <button class="carousel-control-next" type="button" data-bs-target="#carouselClubDetail" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="detailitem">
        <!--ジャンルを表示する-->
        ジャンル : {{ object.get_category_display }}

        <div id="freeschoolname">フリースクール名:
        <a href="{% url 'studentapp:freeschoolinfo' object.user.freeschool.pk %}">
            {{ object.user.freeschool.freeschool_name }}
        </a></div>
    
        <!--代表者を表示する-->
        <p>代表者 : {{ object.REP }}</p>
    
        <!--電話番号を表示する-->
        <p>TEL : {{ object.phone_number }}</p>
        <hr>
        <!--日時を表示する-->
        <p>活動日時 : {{ object.date }}</p>
        
        <!--活動場所を表示する-->
        <p>活動場所 : {{ object.place }}</p>
    
        <!--参加費を表示する-->
        <p>参加費 : {{ object.fee }}円</p>
    </div>
    
    <!--紹介文・本文を表示する-->
    <h2 id="detaillabel">イベントの紹介文</h2>
    <p class="detailText">{{ object.detail_text|linebreaksbr }}</p>
    
    <!--作成日時を表示する-->
    <p class="detailCreated">{{ object.created_at }}</p>
    
<div class="detail-SNS">
    <!--SNSのリンクを表示する-->
    <p>
        公式SNS
        <a href="{{object.sns_link}}" style="text-decoration:none;"
        id="Link-SNS">
            {{ object.sns_name}}
        </a>
    </p>
</div>

<div class="detail-GR">
    <!--いいねボタン関連の処理、ログインされていなければいいねボタンは表示しない-->
    {% if user.is_authenticated %}
        <!--いいねボタンの表示-->
        <div id="likefield">
        いいね：
        <button id="likebutton">
        {% if user_has_liked %}
        <!--イイネしている場合-->
            💗
        <!--イイネしていない場合-->
        {% else %}
            ♥
        {% endif %}
        </button>
        </div>

        <script>
            //いいねボタンを指定
            buttonElm=document.getElementById("likebutton");
            
            buttonElm.addEventListener('click',async function(event) {
                event.preventDefault();
                //リクエスト送信中ボタンを無効化する
                buttonElm.disabled=true;
                try {
                    const response=await fetch("{% url 'studentapp:eventlike' pk=object.id %}",{
                        method:'GET',
                        headers:{
                            'X-CSRFToken':'{{ csrf_token }}'
                        }
                    });
            
                    if(!response.ok){
                        throw new Error('通信に失敗しました');
                    }
            
                    const data=await response.json();
            
                    if(data.liked) {
                        buttonElm.textContent = "💗";
                    }else{
                        buttonElm.textContent = "♥";
                    }
                }catch(error) {
                    console.error('いいねが正常にできませんでした:', error);
                    // エラー処理（例：ユーザーにエラーメッセージを表示）
                }finally{
                    buttonElm.disabled=false;
                }
            });
        </script>
    {% endif %}
    <br>
    <!--参加申し込みリンク-->
    <!--ログインされている場合-->
    {% if user.is_authenticated %}
        <!--利用者が不登校生徒の場合のみ表示-->
        {% if user.user_type == 'student' %}
        <a href="{% url 'studentapp:eventrequest' event_id=object.pk %}" id="request-link">参加申し込み</a>
        {% endif %}
    {% else %}
        <a data-bs-toggle="modal" data-bs-target="#exampleModal" 
        id="request-link" href="#">
            参加申し込み
        </a>
        <!--モーダル-->
        <div class="modal fade" id="exampleModal" tabindex="-1" 
        aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <!--右上の×ボタン-->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!--モーダル本文-->
                    <div class="modal-body">
                        ログインが必要です。
                    </div>
                    <div class="modal-footer">
                        <!--キャンセルボタン-->
                        <button type="button" class="btn btn-outline-secondary" 
                        data-bs-dismiss="modal">
                            キャンセル
                        </button>
                        <!--ログインするボタン-->
                        <a class="btn btn-outline-danger" href="{% url 'accounts:login' %}?next={{ request.path }}" role="button">
                            ログインする
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}