{% extends 'student_base_anyone.html' %}
{% load static %}
{% block title %}アカウント削除の確認{% endblock %}
{% block contents %}

アカウントを削除してもよろしいですか？
<!--postリクエストを利用したいのでformタグを使用する-->
<form method="post" action="{% url 'studentapp:accountdelete' %}">
    {% csrf_token %}
    <button type="submit" id="submitButton">削除する</button>
    <a href="{% url 'studentapp:mypage' %}" class="cssbutton">キャンセル</a>
</form>
<script>
    document.getElementById("submitButton").addEventListener("submit", function() {
        document.getElementById("submitButton").disabled = true;
    });
</script>


{% endblock %}