{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
</head>
<body>
    <div class="login-form">
        <div class="form-group">
            <form method="post" id="requestForm">
                {% csrf_token %}
                {% if form.errors %}
                    正しいログインIDとパスワードを入力してください。大文字と小文字は区別されます。
                {% endif %}
                <label>ログインID:</label>
                {{ form.username }}
                <br>
                <label>パスワード:</label>
                {{ form.password }}
                <br><br>
                <button type="submit" class="login-button" id="submitButton">ログイン</button>
            </form>
        

            <!--2重submitを防止する処理-->
            <script>
                const form = document.getElementById("requestForm");
                const submitButton = document.getElementById("submitButton");

                form.addEventListener("submit", function(event){
                    submitButton.disabled = true;//ボタンを無効化
                });
            </script>

            <br>
            <div class=""><a href="{% url 'accounts:student_signup' %}"><button class="signup-button">ユーザー登録</button></a></div>
            <br>
            <div class=""><a href="{% url 'password_reset' %}">パスワードをお忘れの方</a></div>
        </div>
    </div>
</body>
</html>