{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワードをお忘れの方</title>
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
</head>
<body>
    <br><br>
    <form action="" method="POST" id="requestForm">
        {% csrf_token %}
        <!-- <div>
            {{form}}
            <br><br>
            <input type="submit" value="メールを受け取る"/>
        </div> -->
        <div>
            {{ form.email.label_tag }}
            {{form.email}}
            <br><br>
            <input type="submit" id="submitButton" value="メールを受け取る"/>
        </div>
    </form>

    <!--2重submitを防止する処理-->
    <script>
        const form = document.getElementById("requestForm");
        const submitButton = document.getElementById("submitButton");

        form.addEventListener("submit", function(event){
            submitButton.disabled = true;//ボタンを無効化
        });
    </script>

</body>
</html>