{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メール送信完了</title>
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
</head>
<body>
    <br><br>
    <div style="text-align: center;">
    メール送信完了
    <br><br>
    <a href="{% url 'password_reset' %}"><button class="button">メールを再送信する</button></a>
    <br><br>
    <a href="{% url 'accounts:login' %}"><button class="button">ログイン画面へ戻る</button></a>
    </div>
</body>
</html>