{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/accounts.css'%}">
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>サインアップ</title>
</head>
<body class="signup_body">
    <form method="POST" class="student_signup">
    <p>新規登録するアカウントの情報を入力してください</p>
    {% csrf_token %}
    <div class="labelandform">
        <!-- {{ user_form.as_p }}
        {{ student_form.as_p }} 変更する前につかってたやつ-->
        <div>
            <label for="id_login_id" class="required">ログインID</label>
            {{ user_form.login_id}} 
        </div>
        <div style="color:red;">{{ user_form.errors.login_id }}</div>
        <div>
            <label for="id_email" class="required">メールアドレス</label>
            {{ user_form.email }}
        </div>
        <div style="color:red;">{{ user_form.errors.email }}</div>
        <div>
            <label for="id_phone_number" class="optional">電話番号</label>
            {{ user_form.phone_number }}
        </div>
        <div style="color:red;">{{ user_form.errors.phone_number }}</div>
        <div>
            <label for="id_password" class="required">パスワード</label>
            {{ user_form.password }}
        </div>
        <div>
            <label for="id_confirm_password" class="required">パスワード（確認）</label>
            {{ user_form.confirm_password }}
        </div>
        <div>
            <label for="id_nickname" class="required">ニックネーム</label>
            {{ student_form.nickname }}
        </div>
        <div style="color:red;">{{ student_form.errors.nickname }}</div>
        <div class="gender_radio">
            <label for="id_gender_label">性別<span style="color:black;">（選択）</span></label> 
            <div id="id_gender"> </div>
            {{ student_form.gender }}  <!-- ラジオボタンを表示 -->
            {{ student_form.gender.errors }} <!-- バリデーションエラー表示 -->
        </div>
        <div>
            <label for="id_ent_year">入学年度<span style="color:black;">（選択）</span></label>
            {{ student_form.ent_year }}
        </div>
        <div>
            <label for="id_is_guardian">保護者の方はチェック<br>してください<span style="color:black;">（選択）</span></label>
            {{ student_form.is_guardian }}
        </div>
        <div>
            <label for="id_date_of_birth" class="required">生年月日</label>
            {{ student_form.date_of_birth }}
        </div>
        <div>
            <label for="id_consideration" class="optional">配慮事項</label>
            {{ student_form.consideration }}
        </div>
    </div>
    <button type="submit" class="signup_button">★新規登録★</button>
    </form>
</body>
</html>