{% extends 'freeschool_base.html' %}
{% block title %}freeschool userdetail{% endblock %}
{% block contents %}
<p>生徒ユーザーの情報</p>
<p style="color: red;">*機能拡張予定。現在は限定公開ページへのアクセス許可のみ</p>

<br>
ニックネーム
{{ object.nickname }}
<form method="post" id="requestForm">
    {% csrf_token %}
    <p>限定公開ページへのアクセスを許可する : {{ form.is_view }}</p>
    <a href="{% url 'freeschoolapp:usersearch' %}" class="cssbutton">戻る</a>
    <button type="submit" id="submitButton">完了</button>
</form>

<!--2重submitを防止する処理-->
<script>
    const form = document.getElementById("requestForm");
    const submitButton = document.getElementById("submitButton");

    form.addEventListener("submit", function(event){
        submitButton.disabled = true;//ボタンを無効化
    });
</script>


{% endblock %}