{% extends 'freeschool_base.html' %}
{% block title %}freeschool search{% endblock %}
{% block contents %}
ユーザー検索画面
<form method="get" id="requestForm">
    <input type="search" value="{{ request.GET.query }}" name="q">
    <button type="submit" id="submitButton">検索</button>
</form>

<!--2重submitを防止する処理-->
<script>
    const form = document.getElementById("requestForm");
    const submitButton = document.getElementById("submitButton");

    form.addEventListener("submit", function(event){
        submitButton.disabled = true;//ボタンを無効化
    });
</script>

{% for object in object_list %}
    {{ object.nickname }}
    <a href="{% url 'freeschoolapp:userdetail' object.pk %}">詳細</a>
    <br>
{% endfor %}
{% include 'pagination.html' %}
{% endblock %}