{% extends 'freeschool_base.html' %}
{% block title %}管理サークル削除確認画面{% endblock %}
{% block contents %}
管理サークル削除確認画面
<br>
サークル名:{{ object.club_name }}
<br>
このサークルを削除しますか?
<form method="post" id="requestForm">
    {% csrf_token %}
    <button type="submit" id="submitButton">はい</button>
    <a href="{% url 'freeschoolapp:myclubdetail' object.pk %}" class="cssbutton">いいえ</a>
</form>

<!--2重submitを防止する処理-->
<script>
    const form = document.getElementById("requestForm");
    const submitButton = document.getElementById("submitButton");

    form.addEventListener("submit", function(event){
        submitButton.disabled = true;//ボタンを無効化
    });
</script>


{% endblock %}