{% extends 'freeschool_base.html' %}
{% block title %}freeschool userdetail{% endblock %}
{% block contents %}
ユーザー詳細画面
<br>
ニックネーム
{{ object.nickname }}
<br>
限定公開ページへのアクセスを許可
<form method="post">
    {% csrf_token %}
    <p>許可する : {{ form.is_view }}</p>
    <a href="{% url 'freeschoolapp:usersearch' %}" class="cssbutton">戻る</a>
    <button type="submit" id="submitButton">完了</button>
</form>

<script>
    document.getElementById("submitButton").addEventListener("submit", function() {
        document.getElementById("submitButton").disabled = true;
    });
</script>

{% endblock %}