{% extends 'freeschool_base.html' %}
{% block title %}投稿ブログ記事削除確認画面{% endblock %}
{% block contents %}
投稿ブログ記事削除確認画面
<br>
ブログ記事タイトル:{{ object.title }}
<br>
このブログ記事を削除しますか?

<form method="post" id="requestForm">
    {% csrf_token %}
    <button type="submit" id="submitButton">はい</button>
    <a href="{% url 'freeschoolapp:myblogdetail' object.pk %}" class="cssbutton">いいえ</a>
</form>

<!--2重submitを防止する処理-->
<script>
    const form = document.getElementById("requestForm");
    const submitButton = document.getElementById("submitButton");

    form.addEventListener("submit", function(event){
        submitButton.disabled = true;//ボタンを無効化
    });
</script>


{% endblock %}