{% extends 'freeschool_base.html' %}
{% block title %}freeschool toppage{% endblock %}
{% block contents %}
freeschool toppage
<a href="{% url 'freeschoolapp:clubpost' %}">サークル掲載</a>
<a href="{% url 'freeschoolapp:myclublist' %}">管理サークル一覧</a>
<a href="{% url 'freeschoolapp:eventpost' %}">イベント掲載</a>
<a href="{% url 'freeschoolapp:myeventlist' %}">掲載イベント一覧</a>
<a href="{% url 'freeschoolapp:blogpost' %}">ブログ記事投稿</a>
<a href="{% url 'freeschoolapp:mybloglist' %}">投稿ブログ記事一覧</a>
<a href="{% url 'freeschoolapp:usersearch' %}">ユーザー検索</a>
<a href="{% url 'freeschoolapp:account' %}">アカウント情報</a>
<a href="{% url 'freeschoolapp:contact' %}">お問い合わせ</a>
<a href="{% url 'accounts:logout' %}">ログアウト</a>
{% endblock %}