{% extends 'freeschool_base.html' %}
{% load widget_tweaks %}
{% block title %}サークル掲載情報登録画面{% endblock %}
{% block contents %}
<a href="{% url 'freeschoolapp:top' %}"><button>メインメニューへ戻る</button></a>
サークル掲載情報登録画面
<form method="post" enctype="multipart/form-data" class="form" id="requestForm">
    {% csrf_token %}
    {% for field in clubpost_form %}
        {{ field.label_tag }}<br>
        {{ field|add_class:'field' }}
        <br><br>
        {{ field.errors }}
    {% endfor %}
        <button type="submit" id="submitButton">掲載する</button>
    </div>
</form>

<!--2重submitを防止する処理-->
<script>
    const form = document.getElementById("requestForm");
    const submitButton = document.getElementById("submitButton");

    form.addEventListener("submit", function(event){
        submitButton.disabled = true;//ボタンを無効化
    });
</script>

{% endblock %}