{% extends 'freeschool_base.html' %}
{% load widget_tweaks %}
{% block title %}ブログ記事投稿画面{% endblock %}
{% block contents %}
<a href="{% url 'freeschoolapp:top' %}"><button>メインメニューへ戻る</button></a>
ブログ記事投稿画面
<!--画像を送信する際はenctypeが必要-->
<form method="post" enctype="multipart/form-data" class="form" id="requestForm">
    {% csrf_token %}
    <!-- {% for field in post_form %}
        {{ field.label_tag }}<br>
        {{ field|add_class:'field' }}
        <br><br>
    {% endfor %} -->
        <!-- <div>
            <label for="id_title">タイトル:</label>
        </div>
        <div>
            {{ post_form.title}}
        </div>
        <br>
        <div>
            <label for="id_category">カテゴリー:</label>
        </div>
        <div>
            {{ post_form.category}}
        </div>
        <br>
        <div>
            <label for="id_image1">画像1:</label>
        </div>
        <div>
            {{ post_form.image1 }}
        </div>
        <br>
        <div>
            <label for="id_image2">画像2:</label>
        </div>
        <div>
            {{ post_form.image2 }}
        </div>
        <br>
        <div>
            <label for="id_image3">画像3:</label>
        </div>
        <div>
            {{ post_form.image3 }}
        </div>
        <br>
        <div>
            <label for="id_image4">画像4:</label>
        </div>
        <div>
            {{ post_form.image4 }}
        </div>
        <br>
        <div>
            <label for="id_image5">画像5:</label>
        </div>
        <div>
            {{ post_form.image5 }}
        </div>
        <br>
        <div>
            <label for="id_public_flag">公開状況:</label>
        </div>
        <div>
            {{ post_form.public_flag }}
        </div>
        <br>
        <div>
            <label for="id_detail_text">記事内容:</label>
        </div>
        <div>
            {{ post_form.detail_text }}
        </div>
        <br> -->

        <!-- <div>
            {{ post_form.as_p }}
        </div> -->
    <span style="color:red;">必須 </span>{{ post_form.title.label_tag }}<br>
    {{ post_form.title|add_class:'field' }}<br><br>
    {{ post_form.errors.title }}

    <span style="color:red;">必須 </span>{{ post_form.category.label_tag }}<br>
    {{ post_form.category|add_class:'field' }}<br><br>
    {{ post_form.errors.category }}
    
    <span style="color:red;">必須 </span>{{ post_form.image1.label_tag }}<br>
    {{ post_form.image1|add_class:'field' }}<br><br>
    {{ post_form.errors.image1 }}

    <span style="color:blue;">任意 </span>{{ post_form.image2.label_tag }}<br>
    {{ post_form.image2|add_class:'field' }}<br><br>
    {{ post_form.errors.image2 }}

    <span style="color:blue;">任意 </span>{{ post_form.image3.label_tag }}<br>
    {{ post_form.image3|add_class:'field' }}<br><br>
    {{ post_form.errors.image3 }}

    <span style="color:blue;">任意 </span>{{ post_form.image4.label_tag }}<br>
    {{ post_form.image4|add_class:'field' }}<br><br>
    {{ post_form.errors.image4 }}

    <span style="color:blue;">任意 </span>{{ post_form.image5.label_tag }}<br>
    {{ post_form.image5|add_class:'field' }}<br><br>
    {{ post_form.errors.image5 }}

    {{ post_form.public_flag.label_tag }}<br>
    {{ post_form.public_flag|add_class:'field' }}<br><br>
    {{ post_form.errors.public_flag }}

    <span style="color:blue;">任意 </span>{{ post_form.detail_text.label_tag }}<br>
    {{ post_form.detail_text|add_class:'field' }}<br><br>
    {{ post_form.errors.detail_text }}
    <div>
        <button type="submit" id="submitButton">投稿する</button>
    </div>
</form>

<!--2重submitを防止する処理-->
<script>
    const form = document.getElementById("requestForm");
    const submitButton = document.getElementById("submitButton");

    form.addEventListener("submit", function(event){
        submitButton.disabled = true;//ボタンを無効化
    });
</script>



{% endblock %}

