{% extends 'freeschool_base.html' %}
{% block title %}管理サークル詳細画面{% endblock %}
{% block contents %}
管理サークル詳細画面
<a href="{% url 'freeschoolapp:myclublist' %}"><button>管理サークル一覧へ戻る</button></a>
<a href="{% url 'freeschoolapp:myclubupdate' object.id %}"><button>変更</button></a>
<a href="{% url 'freeschoolapp:myclubdeletecheck' object.id %}"><button>削除</button></a>
<br><br>
<div class="detail">
    <table>
        <tbody>
            <tr>
                <th>サークルID</th>
                <td>{{ object.id }}</td>
            </tr>
            <tr>
                <th>サークル名</th>
                <td>{{ object.club_name }}</td>
            </tr>
            <tr>
                <th>掲載日時</th>
                <td>{{ object.created_at }}</td>
            </tr>
            <tr>
                <th>ジャンル</th>
                <td>
                    {% if object.category == 'culture' %}
                        文化
                    {% elif object.category == 'sports' %}
                        運動
                    {% elif object.category == 'study' %}
                        勉強
                    {% else %}
                        その他
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>代表者名</th>
                <td>{{ object.REP }}</td>
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td>{{ object.email }}</td>
            </tr>
            <tr>
                <th>電話番号</th>
                <td>{{ object.phone_number }}</td>
            </tr>
            <tr>
                <th>日時</th>
                <td>{{ object.date }}</td>
            </tr>
            <tr>
                <th>参加費</th>
                <td>{{ object.fee }}</td>
            </tr>
            <tr>
                <th>活動場所</th>
                <td>{{ object.place }}</td>
            </tr>
            <tr>
                <th>SNSリンク</th>
                <td>{{ object.sns_link }}</td>
            </tr>
            <tr>
                <th>サークルの紹介画像①</th>
                <td><img src="{{ object.image1.url }}" width="400" height="300"></td>
            </tr>
            <tr>
                <th>サークルの紹介画像②</th>
                <td>
                    {% if object.image2 %}
                        <img src="{{ object.image2.url }}" width="400" height="300">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>サークルの紹介画像③</th>
                <td>
                    {% if object.image3 %}
                        <img src="{{ object.image3.url }}" width="400" height="300">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>サークルの紹介画像④</th>
                <td>
                    {% if object.image4 %}
                        <img src="{{ object.image4.url }}" width="400" height="300">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>サークルの紹介画像⑤</th>
                <td>
                    {% if object.image5 %}
                        <img src="{{ object.image5.url }}" width="400" height="300">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>サークルの紹介文</th>
                <td>{{ object.detail_text }}</td>
            </tr>
            <tr>
                <th>公開状況</th>
                <td>
                    {% if object.public_flag %}
                        全てのユーザーに公開中
                    {% else %}
                        限定公開
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}