{% extends 'freeschool_base.html' %}
{% load widget_tweaks %}
{% block title %}掲載イベント情報変更画面{% endblock %}
{% block contents %}
掲載イベント情報変更画面
<a href="{% url 'freeschoolapp:myeventdetail' object.id %}"><button>管理イベント詳細画面に戻る</button></a>
<form method="POST" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        {{ field.label }}
        <br>
        {{ field|add_class:'field' }}
        <br><br>
        {{ field.errors }}
        {{ field.help_text }}
    {% endfor %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    <button type="submit" id="submitButton">変更する</button>
</form>

<script>
    document.getElementById("submitButton").addEventListener("click", function() {
        document.getElementById("submitButton").disabled = true;
    });
</script>


{% endblock %}