{% extends 'freeschool_base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}お問い合わせ{% endblock %}
{% block contents %}

<form method="post" id="requestForm" class="form">
    {% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field|add_class:"form-control" }}
            <div class="field-errors">
                {{ field.errors }}
            </div>
        </div>
    {% endfor %}
    <button type="submit" id="submitButton">送信する</button>
</form>

<!--2重submitを防止する処理-->
<script>
    const form = document.getElementById("requestForm");
    const submitButton = document.getElementById("submitButton");

    form.addEventListener("submit", function(event){
        submitButton.disabled = true;//ボタンを無効化
    });
</script>

{% endblock %}