{% extends 'freeschool_base.html' %}
{% block title %}掲載イベント情報変更画面{% endblock %}
{% block contents %}
掲載イベント情報変更画面
<a href="{% url 'freeschoolapp:myeventdetail' object.id %}"><button>管理イベント詳細画面に戻る</button></a>
<form method="POST">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <label>{{ field.label }}</label>
        {{ field }}
        {{ field.errors }}
        {{ field.help_text }}
      </div>
    {% endfor %}
    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}
    <button type="submit">変更する</button>
</form>
{% endblock %}