{% extends 'freeschool_base.html' %}
{% block title %}管理サークル削除確認画面{% endblock %}
{% block contents %}
管理サークル削除確認画面
<br>
サークル名:{{ object.club_name }}
<br>
このサークルを削除しますか?
<form method="post">
    {% csrf_token %}
    <button type="submit" id="submitButton">はい</button>
    <a href="{% url 'freeschoolapp:myclubdetail' object.pk %}" class="cssbutton">いいえ</a>
</form>

<script>
    document.getElementById("submitButton").addEventListener("click", function() {
        document.getElementById("submitButton").disabled = true;
    });
</script>


{% endblock %}