{% extends 'freeschool_base.html' %}
{% load widget_tweaks %}
{% block title %}イベント掲載情報入力画面{% endblock %}
{% block contents %}
<a href="{% url 'freeschoolapp:top' %}"><button>メインメニューへ戻る</button></a>
イベント掲載情報入力画面
<form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {% for field in eventpost_form %}
        {{ field.label_tag }}<br>
        {{ field|add_class:'field' }}
        <br><br>
        {{ field.errors }}
    {% endfor %}
        <button type="submit" id="submitButton">掲載する</button>
    </div>
</form>
<script>
    document.getElementById("submitButton").addEventListener("click", function() {
        document.getElementById("submitButton").disabled = true;
    });
</script>


{% endblock %}