{% extends 'freeschool_base.html' %}
{% block title %}投稿ブログ記事削除確認画面{% endblock %}
{% block contents %}
投稿ブログ記事削除確認画面
<br>
ブログ記事タイトル:{{ object.title }}
<br>
このブログ記事を削除しますか?
<form method="post">
    {% csrf_token %}
    <button type="submit" id="submitButton">はい</button>
    <a href="{% url 'freeschoolapp:myblogdetail' object.pk %}" class="cssbutton">いいえ</a>
</form>
<script>
    document.getElementById("submitButton").addEventListener("submit", function() {
        document.getElementById("submitButton").disabled = true;
    });
</script>


{% endblock %}