#menu {
    float: left; /* 左側に配置する */
    width: 15%;
    height: 100%;
    padding-left: 1%;
    border-right:1px solid #000000;
}

#contents {
    float: right; /* 右側に配置する */
    width: 85%;
    height: 100vh;
    padding-left: 1%;
}

.menu_item {
    padding-bottom: 5px;
}

.form {
    padding-left: 300px;
}

.field {
    width: 300px;
}

.detail {
    padding-left: 200px;
}

/* テーブルの見た目 */
table {
    border: 1px solid #000;
    width: 66%;
    table-layout: fixed;
  }
  
  table th {
    border: 1px solid #000;
    width: 20%;
  }
  
  table td {
    border: 1px solid #000;
    width: 50%;
    word-break: break-all;
    overflow-wrap : break-word;
  }

.cssbutton {
    border: solid 2px #000;
    padding: 2px 5px;
    text-decoration:none;
    color: #000;
    background-color: #f0f0f0; 
}